<%- include("header") -%>
<h1>compose</h1>

<form name="myForm" action="/compose" method="POST" ">
    Package ID <input type="number" name="packageID"> <br> 
    Place <input type="text" name="place"> <br> 
    Discription  <input type="text" name="description"> <br> 
    Stay Amount<input type="number" name="stayAmt"> <br> 
    Food Amount<input type="number" name="foodAmt"> <br> 
    Bus Amount<input type="number" name="busAmt"> <br> 
    train Amount<input type="number" name="trainAmt"> <br> 
    Airplane Amount<input type="number" name="planeAmt"> <br> 

    <button type="submit"> submit</button>

</form>

<%- include("footer") -%>