<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form name="loginForm" action="/createAccount" method="post" >
       <!-- First Name : <input type="text" name="firstName"  placeholder="name"  required> -->
       <!-- Last Name : <input type="text" name="lastName" placeholder="last name" required> -->
       <!-- Age : <input type="number" name="age" required> -->
       create username : <input type="text" name="userName" placeholder="username" required>
       create Password : <input type="text" name="passWord" placeholder="password" required>
       <button type="submit" >create account</button>  
    </form>
    
</body>
</html>